*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background: url(./firstPageBg.png);
    background-size:auto;
    font-family: "Irish Grover", system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
    margin: 12px 0;
}

#logoBox{
    font-size:64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    align-items: center;
    backdrop-filter: blur(1px);
    width: 100%;
}

#logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ballImg{
    width: 55px;
    height: 55px;
}

.btn{
    font-family: 'Irish Grover',system-ui;
    background-color: #C9FF2F;
    border-radius: 24px;
    color: #000234;
    font-size: 24px;
    width: fit-content;
    padding: 3px 35px;
    cursor: pointer;
}

#BlinkingText{
    color:#3ffdda;
    text-shadow: 4px 4px 12px #5e6e00 ;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
    transform: rotate(-30deg);
}

nav{
    background: url(./footer.png);
    height: 40px;
    opacity: 1;
    backdrop-filter: blur(1px);
}

#btnbox{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 48px;
}

#UndoBtn{
    background-color: #F6C136;
}

#ResetBtn{
    background-color: #F5B9FF;
}

#gameBox{
    display: grid;
    height: 75%;
    width: 75%;
    gap: 0; 
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.box{
    background-color: #123241;
    border: 0.5px solid #f7f7f7;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 2px;
}

.ball{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    animation: rotation 1s infinite ease-in-out;
}

@keyframes rotation {
    from{
        transform: rotate3d(0,1,1,0deg);
    }

    to{
        transform: rotate3d(0,1,1,36deg);
    }
}  

@media screen and (min-width:300px) and (max-width:760px) {
    #logoBox{
        font-size: 32px;
    }

    #ballImg{
        width: 25px;
        height: 25px;
    }

}

#gameInfo{
    font-size:24px;
    font-family: 'Italiana',sans-serif;
}